<ul class="grey-text">
    <li class="reading-time-item">{% include "@WallabagCore/themes/material/Entry/_reading_time.html.twig" with {'entry': entry} only %}</li>
    <li class="reading-time-item">{% include "@WallabagCore/themes/material/Entry/_created_at.html.twig" with {'entry': entry} only %}</li>
</ul>
