<div class="card-action">
    {% include "@WallabagCore/themes/material/Entry/_card_actions_reading_time.html.twig" with {'entry': entry} only %}
    {% include "@WallabagCore/themes/material/Entry/_card_actions_tools.html.twig" with {'entry': entry} only %}
</div>
